body{
   padding-top : 60px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.slider-handle {
  background: #868e96;
}

.my-spin {
    -webkit-animation: fa-spin 2s 0s infinite linear;
    animation: fa-spin 1.5s 0s infinite linear;
}

.slider {
    width: 100% !important;
}

#btnradios_mode {
   border: 1px solid #17a2b8;

}

.p-2 .btn-group, .btn-group-vertical {
    display: contents;
}

.p-2 .input-group-text {
    background-color: #fdfdfe;
    color: #000000;
    border: 1px solid #17a2b8;
    width : 100%;
    white-space: normal;
}
.p-2 .input-group-prepend {
    width: 30%;
}
.p-2 .input-group {
    flex-wrap: initial;
}


.p-1 .btn-group, .btn-group-vertical {
    display: contents;
}

.p-1 .input-group-text {
    background-color: #fdfdfe;
    color: #000000;
    border: 1px solid #007bff;
    width : 100%;
    white-space: normal;
}
.p-1 .input-group-prepend {
    width: 30%;
}
.p-1 .input-group-append {
    width: auto;
}
.p-1 .input-group {
    flex-wrap: initial;
}

.p-1 .input-group > .custom-range {
	border: 1px solid #007bff;
	height: auto;
}
.p-1 .custom-select {
    border: 1px solid #007bff;
    color: #007bff;
    height: auto;
}
.card {
    text-align: -moz-center;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.btn-outline-primary:hover {
 background-color: #007bff  !important;
 opacity: 0.7;
}

.btn-outline-primary:not(.active):hover {
 color: #007bff  !important;
 background-color: transparent  !important;
 opacity: 0.7;
}

.p-1 .input-group .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child) {
    border-radius: 0 !important;
}

.form-control {
    border: 1px solid #007bff;
    height: auto;
}

.my-buttons .active {
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.navbar-backdrop {
  z-index: 1029;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 479px) {
  .p-1 .btn-group, .btn-group-vertical {
      display: inline-grid;
      width: -webkit-fill-available;
  }
  .p-1 .input-group-text {
      font-size: smaller;
  }

  .p-1 .btn-group button.btn:last-child {
    border-radius:0 6px 6px 0;
   }

   .p-1 .input-group-prepend {
    margin-left: 0;
    margin-right: auto;
   }

   .p-1 .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
    border-top-right-radius: 0;
   }
}

