<template>
  <div id="app">
    <b-navbar toggleable fixed="top" type="light" variant="light">
      <b-navbar-toggle target="nav_text_collapse"> </b-navbar-toggle>
      <b-navbar-brand>
        <radial-progress-bar
          :diameter="28"
          :completed-steps="completedSteps"
          :strokeWidth="4"
          :animateSpeed="200"
          :total-steps="totalSteps"
          style="
            vertical-align: none;
            font-size: 0px;
            display: inline-block;
            top: -5px;
          "
        >
          <icon
            name="play-circle"
            v-if="device_status < 18 && device_status > 0"
            class="text-warning"
          />
          <icon
            name="check-circle"
            v-if="device_status == 18 || device_status == 19"
            class="text-success"
          />
          <icon
            name="times-circle"
            v-if="device_status == 0"
            class="text-danger"
          />
        </radial-progress-bar>
        <b-form-checkbox
          class="my-buttons"
          v-model="feast_enable"
          name="check-button"
          button
          button-variant="light"
          @change="
            feast_enable = 0;
            showFeastMsg();
            putFeastState();
          "
          v-if="hardware == 0"
          >FEAST</b-form-checkbox
        >

        <b-button
          variant="outline-warning"
          class="m-1"
          v-on:click="showMsgReset()"
          >Reset Master</b-button
        >

        <b-button
          variant="outline-info"
          class="m-1"
          v-on:click="$refs['init-device-modal'].show()"
          >Quickstart Master</b-button
        >
 
        <b-button
          variant="outline-success"
          class="m-1"
          v-on:click="configMaster()"
          >Config Master</b-button
        >
        <b-button
          variant="outline-warning"
          class="m-1"
          v-on:click="resetSlpgbt()"
          >Reset Slave</b-button
        >
        <b-button
          variant="outline-info"
          class="m-1"
          v-on:click="slpgbtLoadMinimalConfig()"
          >Quickstart Slave</b-button
        >
        <b-spinner v-if="actionRunning" variant="warning" label="Spinning"></b-spinner>
        <a
          v-bind:href="'https://lpgbt.web.cern.ch/lpgbt/v' + chip_version"
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </b-navbar-brand>

      <b-collapse is-nav v-model="isNavbarCollapseOpen" id="nav_text_collapse">
        <b-navbar-nav>
          <b-nav-item to="/Core"><icon name="brain" /> Core </b-nav-item>
          <b-nav-item to="/status"><icon name="flag" /> Status</b-nav-item>
          <b-nav-item to="/festatus"><icon name="flag" /> FE Status</b-nav-item>
          <b-nav-item to="/fefulltest"><icon name="flag" /> FE Full Test</b-nav-item>
          <b-nav-item to="/fetemps"><icon name="flag" /> FE Temps</b-nav-item>
          <b-nav-item to="/clocks"><icon name="clock" /> Clocks</b-nav-item>
          <b-nav-item to="/highspeed"
            ><icon name="eye" /> High-speed</b-nav-item
          >
          <b-nav-item to="/testfeatures"><icon name="database" /> Test Features</b-nav-item>
          <b-nav-item to="/fetestfeatures"><icon name="database" /> FE Test Features</b-nav-item>
          <b-nav-item to="/i2cm"><icon name="link" /> I2C Master</b-nav-item>
          <b-nav-item to="/gpio"><icon name="arrows-alt-h" /> GPIO</b-nav-item>
          <b-nav-item to="/analog"
            ><icon name="tachometer-alt" /> Analog</b-nav-item
          >
          <b-nav-item to="/regmap"><icon name="map" /> Registers</b-nav-item>
          <b-nav-item  to="/feregmap"><icon name="map"/>FE Registers</b-nav-item>
          <b-nav-item  to="/vferegmap"><icon name="map"/>VFE Registers</b-nav-item>
          <b-nav-item  to="/vtrxregmap"><icon name="map"/>VTRx Registers</b-nav-item>
          <b-nav-item to="/connection"
            ><icon name="plug" /> Connection</b-nav-item
          >
          <b-nav-item to="/testoutputs"
            ><icon name="wrench" /> Test Ouputs</b-nav-item
          >
          <b-nav-item to="/about"><icon name="users" /> About</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <div
      v-if="isNavbarCollapseOpen"
      @click="isNavbarCollapseOpen = false"
      class="navbar-backdrop"
    ></div>

    <b-modal
      id="init-modal"
      ref="init-device-modal"
      hide-footer
      hide-header-close
      title="Quickstart configuration"
    >
      <div class="d-block text-center">
        Do you want to program the lpGBT with the Quickstart configuration ?
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/quickStart.html'
          "
          target="_blank"
          class="text-info"
          >Info</a
        >
      </div>
      <div class="mx-auto p-1">
        <b-button
          variant="outline-info"
          block
          @click="
            loadMinimalConfig();
            quickStartTimer();
          "
          >Yes</b-button
        >
        <b-button
          variant="outline-danger"
          block
          @click="$refs['init-device-modal'].hide()"
          >No</b-button
        >
      </div>
      <div class="p-1">
        <transition name="fade">
          <b-progress
            v-if="load_status == 1"
            show-progress
            animated
            variant="info"
          >
            <b-progress-bar
              :value="value"
              :label="`${value}%`"
            ></b-progress-bar>
          </b-progress>
        </transition>
      </div>

      <div class="p-1">
        <transition name="fade">
          <b-list-group-item v-if="value > 20" variant="info"
            >[OK]: Clock generator setup</b-list-group-item
          >
        </transition>
      </div>

      <div class="p-1">
        <transition name="fade">
          <b-list-group-item v-if="value > 40" variant="info"
            >[OK]: Line driver setup</b-list-group-item
          >
        </transition>
      </div>

      <div class="p-1">
        <transition name="fade">
          <b-list-group-item v-if="value > 60" variant="info"
            >[OK]: Equalizer setup</b-list-group-item
          >
        </transition>
      </div>

      <div class="p-1">
        <transition name="fade">
          <b-list-group-item v-if="value > 90" variant="info"
            >[OK]: Completion of PLL/DLL configuration</b-list-group-item
          >
        </transition>
      </div>
    </b-modal>

    <b-modal
      id="init-modal"
      ref="init-address-modal"
      hide-footer
      hide-header-close
      no-close-on-esc
      no-close-on-backdrop
      title="Select Platform"
    >
      <div class="p-1 text-center">
        <b-input-group prepend="PiGBT mode">
          <b-form-radio-group
            id="btn_pull"
            buttons
            v-model="connection"
            @change="onPutPlatform($event)"
            button-variant="outline-primary"
          >
            <b-form-radio
              v-for="opt in connection_options"
              :key="opt.value"
              :value="opt.value"
            >
              {{ opt.text }}
            </b-form-radio>
          </b-form-radio-group>
        </b-input-group>
      </div>
      <div class="p-1 text-center">
        <b-input-group
          prepend="lpGBT version"
          v-if="connection == 0 && prevent_version == 1"
        >
          <b-form-radio-group
            id="btn_pull"
            buttons
            v-model="chip_version"
            button-variant="outline-primary"
          >
            <b-form-radio
              v-for="opt in chip_version_options"
              :key="opt.value"
              :value="opt.value"
            >
              {{ opt.text }}
            </b-form-radio>
          </b-form-radio-group>
        </b-input-group>
      </div>

      <div class="p-1 text-center">
        <b-input-group prepend="Hardware" v-if="connection == 1">
          <b-form-radio-group
            id="btn_pull"
            buttons
            v-model="hardware"
            button-variant="outline-primary"
          >
            <b-form-radio
              v-for="opt in hardware_options"
              :key="opt.value"
              :value="opt.value"
            >
              {{ opt.text }}
            </b-form-radio>
          </b-form-radio-group>
        </b-input-group>
      </div>
      <div class="p-1" v-if="connection == 1">
        <b-input-group prepend="I2C address">
          <b-form-select
            v-model="address_selected"
            :options="address"
            button-variant="outline-primary"
          />
        </b-input-group>
      </div>
      <div class="p-1 text-center">
        <b-button
          class="mt-3"
          variant="primary"
          :disabled="!prevent_closing"
          @click="onPutI2cAddress"
          >Ok</b-button
        >
      </div>
    </b-modal>

    <b-modal ref="axios-error-modal" hide-footer hide-header-close title="Info">
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>

    <b-container>
      <router-view />
    </b-container>
  </div>
</template>

<script>
const API_URL = "/api";
import axios from "axios";
/* eslint-disable */
import RadialProgressBar from "vue-radial-progress";

import { globalStore } from "./main.js";
/* eslint-disable */

export default {
  data: function () {
    return {
      value: 0,
      timer: "",
      interval: "",
      refreshStatus: "",
      spinner_icon: "spinner",
      completedSteps: 0,
      totalSteps: 10,
      address: [],
      address_selected: 0,
      device_status: "",
      load_status: 0,
      errorMessage: "",
      connection: "",
      connection_options: [
        { text: "Dummy LpGBT", value: 0 },
        { text: "Real LpGBT", value: 1 },
      ],
      hardware: "",
      hardware_options: [
        { text: "VLDB + board", value: 0 },
        { text: "Other support", value: 1 },
      ],
      feast_enable: true,
      feast_enable_options: [{ text: "FEAST", value: false, disabled: false }],
      isNavbarCollapseOpen: false,
      resetConf: "",
      chip_version: 1,
      chip_version_options: [
        { text: "v0", value: 0 },
        { text: "v1", value: 1 },
      ],
      prevent_closing: 0,
      prevent_version: 0,
      actionRunning: false
    };
  },

  components: {
    RadialProgressBar,
  },

  mounted: function () {
    this.$refs["init-address-modal"].show();
    this.timer = setInterval(this.tick, 200);
    this.$root.$on("getFeastState", () => {
      return this.getFeastState();
    });
  },

  created() {
    // fetch the data when the view is created and the data is
    // already being observed
  },

  methods: {
    //get methods
    getStatus() {
      const path = "/api/pusmstate";
      axios
        .get(path)
        .then((response) => {
          this.device_status = response.data.result.device_status;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getSmbusScan() {
      axios
        .get(`${API_URL}/smbus`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }
            this.$refs["axios-error-modal"].show();
          } else {
            this.address = response.data.result.address;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    loadMinimalConfig() {
      axios
        .get(`${API_URL}/quickstart`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

    configMaster() {
        this.actionRunning = true;
        axios
        .get(`${API_URL}/config_our_master`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
          this.actionRunning = false;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.actionRunning = false;
        });
    },

    slpgbtLoadMinimalConfig() {
      this.actionRunning = true;
      axios
        .get(`${API_URL}/slpgbt_quickstart`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
          this.actionRunning = false;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.actionRunning = false;
        });
    },

    resetSlpgbt() {
        this.actionRunning = true;
        axios
        .get(`${API_URL}/slpgbt_reset`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
          this.actionRunning = false;

        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.actionRunning = false;
        });
    },

    showMsgReset() {
      this.resetConf = "";
      this.$bvModal
        .msgBoxConfirm("Please confirm that you want to reset the lpGBT.", {
          title: "Please Confirm",
          size: "sm",
          buttonSize: "sm",
          okVariant: "danger",
          okTitle: "YES",
          cancelTitle: "NO",
          footerClass: "p-2",
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          this.resetConf = value;
          if (this.resetConf == true) {
            this.resetB();
          }
        })
        .catch((err) => {
          // An error occurred
        });
    },
    resetB() {
      axios
        .get(`${API_URL}/reset`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.$router.push("Core").catch(() => {});
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    showFeastMsg() {
      if (this.feast_enable == 0) {
        this.$bvModal
          .msgBoxOk(
            "FEASTMPs of the VLDB+ are disabled. PiGBT switched to dummy lpGBT mode. Go to connection to change the platform.",
            {
              title: "Info",
              size: "sm",
              buttonSize: "sm",
              okVariant: "primary",
              headerClass: "p-2 border-bottom-0",
              footerClass: "p-2 border-top-0",
              centered: true,
            }
          )
          .then((value) => {
            this.box = value;
          })
          .catch((err) => {});
      }
    },
    getFeastState() {
      const path = "/api/feastControl";
      axios
        .get(path)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.feast_enable = response.data.result.feast_enable;
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    // put methods
    onPutPlatform(platfrom) {
      axios
        .put(`${API_URL}/connection`, {
          connection: platfrom,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
          if (platfrom == 1) {
            this.getSmbusScan();
          }
          this.prevent_closing = 1;
          this.prevent_version = 1;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutI2cAddress() {
      axios
        .put(`${API_URL}/smbus`, {
          address_selected: this.address_selected,
          chip_version: this.chip_version,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.$refs["init-address-modal"].hide();
            this.$refs["init-device-modal"].show();
            //this.refreshStatus = setInterval(this.getStatus, 2000);
            this.$router.push("Core").catch(() => {});
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    putFeastState() {
      axios
        .put(`${API_URL}/feastControl`, {
          feast_enable: this.feast_enable,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
            this.getFeastState();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    //methods
    quickStartTimer() {
      this.interval = 200;
      this.load_status = 1;
      this.interval = setInterval(() => {
        this.value += 10;
        if (this.value > 100) {
          this.value = 0;
          clearInterval(this.interval);
          this.value = 0;
          this.load_status = 0;
          this.$refs["init-device-modal"].hide();
        }
      }, this.interval);
    },
    tick: function () {
      this.completedSteps = this.completedSteps + 1;
    },
  },

  beforeDestroy() {
    clearInterval(this.timer);
    window.removeEventListener("click", this.close);
  },
};
</script>

<style lang="scss"></style>
