<template>
  <div class="clocks">
    <div class="card mt-4" v-for="cid in 4" :key="cid.id" :value="cid">
      <div class="card-header">
        PSCLK {{ cid - 1 }}
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' +
            chip_version +
            '/phaseShifter.html'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
        <div class="float-right">
          <b-link
            class="text-secondary"
            v-on:click="
              psclk_advanced[cid - 1] = !psclk_advanced[cid - 1];
              getPsClocksAdvanced();
            "
            ><font-awesome-icon icon="cogs"
          /></b-link>
        </div>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Frequency">
            <b-form-radio-group
              id="frequency_clock_btn"
              buttons
              @change="onPutPsClocks"
              v-model="psclk_freq[cid - 1]"
              name="pullbtns"
              button-variant="outline-primary"
            >
              <b-form-radio
                v-for="opt in clk_freq_options"
                :key="opt.value"
                :value="opt.value"
                style="padding: 0.375rem 0.4rem"
              >
                <small> {{ opt.text }}</small>
              </b-form-radio>
            </b-form-radio-group>
          </b-input-group>
        </div>

        <div class="p-1">
          <b-input-group prepend="Fine Tune">
            <b-form-radio-group
              id="btn_pull"
              buttons
              v-model="enable_fine_tune[cid - 1]"
              @change="
                onPutPsClocks();
                setFineTune([cid - 1]);
              "
              name="pullbtns"
              button-variant="outline-primary"
              :disabled="psclk_freq[cid - 1] == 0"
            >
              <b-form-radio
                v-for="opt in fine_tune_options"
                :key="opt.value"
                :value="opt.value"
                style="padding: 0.375rem 0.4rem"
              >
                {{ opt.text }}
              </b-form-radio>
            </b-form-radio-group>
          </b-input-group>
        </div>

        <div class="p-1">
          <b-input-group prepend="Phase">
            <b-form-input
              id="range"
              v-model="psclk_phase[cid - 1]"
              @change="onPutPsClocks"
              type="range"
              :min="0"
              :max="max_fine_tune"
              trigger-change-event
              :disabled="psclk_freq[cid - 1] == 0"
            >
            </b-form-input>
            <b-input-group-append>
              <b-button variant="outline-primary"
                >{{
                  (
                    "0" +
                    (
                      Math.round(psclk_phase[cid - 1] * psclk_step) / 100.0
                    ).toFixed(2)
                  ).slice(-5)
                }}
                ns</b-button
              >
            </b-input-group-append></b-input-group
          >
        </div>

        <transition name="slide">
          <div role="tablist" v-if="psclk_advanced[cid - 1]">
            <div class="p-1">
              <b-input-group
                prepend="Drive strength"
                append="mA"
                style="color: green; text-align: center"
              >
                <b-form-select
                  v-model="psclk_ds[cid - 1]"
                  @change="onPutPsClocks"
                  :options="clk_options"
                />
              </b-input-group>
            </div>
            <div class="p-1">
              <b-input-group prepend="Pre-emp  mode">
                <b-form-select
                  v-model="psclk_pem[cid - 1]"
                  @change="onPutPsClocks"
                  :options="clk_pem_options"
                />
              </b-input-group>
            </div>
            <div class="p-1">
              <b-input-group prepend="Pre-emp strength" append="mA">
                <b-form-select
                  v-model="psclk_pes[cid - 1]"
                  @change="onPutPsClocks"
                  :options="clk_options"
                  :disabled="psclk_pem[cid - 1] == 0"
                />
              </b-input-group>
            </div>
            <div class="p-1">
              <b-input-group prepend="Pre-emp  width" append="ps">
                <b-form-select
                  v-model="psclk_pew[cid - 1]"
                  @change="onPutPsClocks"
                  :options="clk_pew_options"
                  :disabled="psclk_pem[cid - 1] != 2"
                />
              </b-input-group>
            </div>
          </div>
        </transition>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        EPCLKs
        <a
          v-bind:href="
            'https://lpgbt.web.cern.ch/lpgbt/v' + chip_version + '/ePorts.html'
          "
          target="_blank"
          ><icon name="question-circle" class="text-secondary"
        /></a>
      </div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Frequency">
            <b-form-radio-group
              id="frequency_clock_btn"
              buttons
              v-model="freq"
              @change="onPutEclocks(0, $event)"
              name="pullbtns"
              button-variant="outline-primary"
            >
              <b-form-radio
                v-for="opt in clk_freq_options"
                :key="opt.value"
                :value="opt.value"
                style="padding: 0.375rem 0.4rem"
              >
                <small> {{ opt.text }}</small>
              </b-form-radio>
            </b-form-radio-group>
          </b-input-group>
        </div>

        <transition name="slide">
          <div role="tablist">
            <div class="p-1">
              <b-input-group prepend="Invert clock output">
                <b-form-radio-group
                  id="btn_pull"
                  buttons
                  v-model="inv"
                  @change="onPutEclocks"
                  name="pullbtns"
                  button-variant="outline-primary"
                  :disabled="freq == 0"
                >
                  <b-form-radio
                    v-for="opt in fine_tune_options"
                    :key="opt.value"
                    :value="opt.value"
                    style="padding: 0.375rem 0.4rem"
                  >
                    {{ opt.text }}
                  </b-form-radio>
                </b-form-radio-group>
              </b-input-group>
            </div>
            <div class="p-1">
              <b-input-group prepend="Drive strength" append="mA">
                <b-form-select
                  v-model="ds"
                  @change="onPutEclocks"
                  :options="clk_options"
                />
              </b-input-group>
            </div>
            <div class="p-1">
              <b-input-group prepend="Pre-emp  mode">
                <b-form-select
                  v-model="pem"
                  @change="onPutEclocks"
                  :options="clk_pem_options"
                />
              </b-input-group>
            </div>
            <div class="p-1">
              <b-input-group prepend="Pre-emp strength" append="mA">
                <b-form-select
                  v-model="pes"
                  @change="onPutEclocks"
                  :options="clk_options"
                  :disabled="pem == 0"
                />
              </b-input-group>
            </div>
            <div class="p-1">
              <b-input-group prepend="Pre-emp  width" append="ps">
                <b-form-select
                  v-model="pew"
                  @change="onPutEclocks"
                  :options="clk_pew_options"
                  :disabled="pem != 2"
                />
              </b-input-group>
            </div>
          </div>
        </transition>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <div class="p-1">
          <b-button variant="primary" @click="toggleEclksDetails()"
            >Configure each eclks independently</b-button
          >
        </div>
      </div>
      <div class="card-body">
        <div
          class="card mt-4"
          v-if="toggle_eclks_chn"
          v-for="id in 29"
          :key="id"
          :value="id"
        >
          <div class="card-header">
            EPCLK {{ id - 1 }}
            <div class="float-right">
              <b-link
                class="text-secondary"
                v-on:click="
                  eclk_phase_mode[id - 1] = !eclk_phase_mode[id - 1];
                  getEclocksAdvanced();
                "
                ><font-awesome-icon icon="cogs"
              /></b-link>
            </div>
          </div>
          <div class="card-body">
            <div class="p-1">
              <b-input-group prepend="Frequency">
                <b-form-radio-group
                  id="frequency_clock_btn"
                  buttons
                  v-model="eclk_freq[id - 1]"
                  @change="onPutEclocks"
                  name="pullbtns"
                  button-variant="outline-primary"
                >
                  <b-form-radio
                    v-for="opt in clk_freq_options"
                    :key="opt.value"
                    :value="opt.value"
                    style="padding: 0.375rem 0.4rem"
                  >
                    <small> {{ opt.text }}</small>
                  </b-form-radio>
                </b-form-radio-group>
              </b-input-group>
            </div>

            <transition name="slide">
              <div role="tablist" v-if="eclk_phase_mode[id - 1]">
                <div class="p-1">
                  <b-input-group prepend="Invert clock output">
                    <b-form-radio-group
                      id="btn_pull"
                      buttons
                      v-model="eclk_inv[id - 1]"
                      @change="onPutEclocks"
                      name="pullbtns"
                      button-variant="outline-primary"
                      :disabled="eclk_freq[id - 1] == 0"
                    >
                      <b-form-radio
                        v-for="opt in fine_tune_options"
                        :key="opt.value"
                        :value="opt.value"
                        style="padding: 0.375rem 0.4rem"
                      >
                        {{ opt.text }}
                      </b-form-radio>
                    </b-form-radio-group>
                  </b-input-group>
                </div>
                <div class="p-1">
                  <b-input-group prepend="Drive strength" append="mA">
                    <b-form-select
                      v-model="eclk_ds[id - 1]"
                      @change="onPutEclocks"
                      :options="clk_options"
                    />
                  </b-input-group>
                </div>
                <div class="p-1">
                  <b-input-group prepend="Pre-emp  mode">
                    <b-form-select
                      v-model="eclk_pem[id - 1]"
                      @change="onPutEclocks"
                      :options="clk_pem_options"
                    />
                  </b-input-group>
                </div>
                <div class="p-1">
                  <b-input-group prepend="Pre-emp strength" append="mA">
                    <b-form-select
                      v-model="eclk_pes[id - 1]"
                      @change="onPutEclocks"
                      :options="clk_options"
                      :disabled="eclk_pem[id - 1] == 0"
                    />
                  </b-input-group>
                </div>
                <div class="p-1">
                  <b-input-group prepend="Pre-emp  width" append="ps">
                    <b-form-select
                      v-model="eclk_pew[id - 1]"
                      @change="onPutEclocks"
                      :options="clk_pew_options"
                      :disabled="eclk_pem[id - 1] != 2"
                    />
                  </b-input-group>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
import { globalStore } from "../main.js";
import axios from "axios";

const API_URL = "/api";

export default {
  data: function () {
    return {
      errorMessage: "",
      eclk_freq: [],
      freq: "",
      inv: "",
      ds: "",
      pem: "",
      pes: "",
      pew: "",
      toggle_eclks_chn: false,
      clk_freq_options: [
        { text: "OFF", value: 0 },
        { text: "40", value: 1 },
        { text: "80", value: 2 },
        { text: "160", value: 3 },
        { text: "320", value: 4 },
        { text: "640", value: 5 },
        { text: "1280", value: 6 },
      ],

      psclk_freq: [],
      psclk_phase: [],
      psclk_step: 4.8828125,
      enable_fine_tune: [],
      psclk_advanced: [],
      eclk_phase_mode: [],
      eclk_inv: [],

      fine_tune_options: [
        { text: "Enable", value: 1 },
        { text: "Disable", value: 0 },
      ],
      max_fine_tune: 511,
      psclk_ds: [],
      psclk_pem: [],
      psclk_pew: [],
      psclk_pes: [],

      eclk_ds: [],
      eclk_pem: [],
      eclk_pew: [],
      eclk_pes: [],

      clk_options: [
        { text: "0", value: 0 },
        { text: "1.0", value: 1 },
        { text: "1.5", value: 2 },
        { text: "2.0", value: 3 },
        { text: "2.5", value: 4 },
        { text: "3.0", value: 5 },
        { text: "3.5", value: 6 },
        { text: "4.0", value: 7 },
      ],
      clk_pem_options: [
        { text: "Disabled", value: 0 },
        { text: "Self-timed", value: 2 },
        { text: "Clock timed", value: 3 },
      ],
      clk_pew_options: [
        { text: "120", value: 0 },
        { text: "240", value: 1 },
        { text: "360", value: 2 },
        { text: "480", value: 3 },
        { text: "600", value: 4 },
        { text: "720", value: 5 },
        { text: "840", value: 6 },
        { text: "960", value: 7 },
      ],
      chip_version: "",
    };
  },

  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.getChipVersion();
    this.getClocks();
    this.getEclocksAdvanced();
    this.getPsClocksAdvanced();
  },

  methods: {
    // get methods //
    getClocks() {
      axios
        .get(`${API_URL}/clocks`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.psclk_freq = response.data.result.psclk_freq;
            this.psclk_phase = response.data.result.psclk_phase;
            this.eclk_freq = response.data.result.eclk_freq;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getPsClocksAdvanced() {
      axios
        .get(`${API_URL}/clocks`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.psclk_ds = response.data.result.psclk_ds;
            this.psclk_pes = response.data.result.psclk_pes;
            this.psclk_pem = response.data.result.psclk_pem;
            this.psclk_pew = response.data.result.psclk_pew;
            this.enable_fine_tune = response.data.result.enable_fine_tune;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getEclocksAdvanced() {
      axios
        .get(`${API_URL}/clocks`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.eclk_freq = response.data.result.eclk_freq;
            this.eclk_ds = response.data.result.eclk_ds;
            this.eclk_pes = response.data.result.eclk_pes;
            this.eclk_pem = response.data.result.eclk_pem;
            this.eclk_pew = response.data.result.eclk_pew;
            this.eclk_inv = response.data.result.eclk_inv;
            this.freq = this.eclk_freq[0];
            this.ds = this.eclk_ds[0];
            this.pes = this.eclk_pes[0];
            this.pem = this.eclk_pem[0];
            this.pew = this.eclk_pew[0];
            this.inv = this.eclk_inv[0];
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },

    // put methods //
    onPutPsClocks() {
      axios
        .put(`${API_URL}/psClocks`, {
          psclk_freq: this.psclk_freq,
          psclk_phase: this.psclk_phase,
          psclk_ds: this.psclk_ds,
          psclk_pes: this.psclk_pes,
          psclk_pem: this.psclk_pem,
          psclk_pew: this.psclk_pew,
          enable_fine_tune: this.enable_fine_tune,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    onPutEclocks() {
      axios
        .put(`${API_URL}/eClocks`, {
          eclk_freq: this.eclk_freq,
          eclk_phase: this.eclk_phase,
          eclk_ds: this.eclk_ds,
          eclk_pes: this.eclk_pes,
          eclk_pem: this.eclk_pem,
          eclk_pew: this.eclk_pew,
          eclk_inv: this.eclk_inv,
        })
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    toggleEclksDetails() {
      if (this.toggle_eclks_chn) {
        const options = { title: "Confirm?", cancelLabel: "No" };
        this.$dialogs
          .confirm("You will loose your ECLKS settings!", options)
          .then((res) => {
            console.log(res.ok);
            if (res.ok) this.toggle_eclks_chn = false;
          });
      } else this.toggle_eclks_chn = true;
    },
    setFineTune(_id) {
      this.psclk_phase[_id] = 0;
      if (this.enable_fine_tune[_id] == 0) {
        this.psclk_step = 78.125;
        this.max_fine_tune = 15;
      }
      if (this.enable_fine_tune[_id] == 1) {
        this.psclk_step = 4.8828125;
        this.max_fine_tune = 511;
      }
    },
    getChipVersion() {
      axios
        .get(`${API_URL}/chip_version`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.chip_version = response.data.result.chip_version;
          }
        })
        .catch((error) => {
          console.error(error);
          id;
        });
    },
  },

  watch: {
    freq(newValue) {
      for (var i = 0; i < 29; i++) {
        this.eclk_freq[i] = newValue;
      }
    },
    inv(newValue) {
      for (var i = 0; i < 29; i++) {
        this.eclk_inv[i] = newValue;
      }
    },
    ds(newValue) {
      for (var i = 0; i < 29; i++) {
        this.eclk_ds[i] = newValue;
      }
    },
    pem(newValue) {
      for (var i = 0; i < 29; i++) {
        this.eclk_pem[i] = newValue;
      }
    },
    pes(newValue) {
      for (var i = 0; i < 29; i++) {
        this.eclk_pes[i] = newValue;
      }
    },
    pew(newValue) {
      for (var i = 0; i < 29; i++) {
        this.eclk_pew[i] = newValue;
      }
    },
  },
  computed: {
    state() {
      return globalStore.state;
    },
    btnStates() {
      return this.buttons.map((btn) => btn.state);
    },
  },
};
</script>

<style lang="scss"></style>
