<template>
  <b-container fluid class="feautotest" >
    <div class="card mt-4" fluid>
      <div class="card-header">
        Auto Check list for FE cards
        <b-spinner small v-if="configuring"></b-spinner>
      </div>
      <div class="card-body">
        <b-button :disabled="configuring" @click='startFullTest()' variant="outline-primary">Launch Full Test</b-button>
        <b-button :disabled="configuring" @click='launchSWTrigger()' variant="outline-primary">Launch SW Trigger</b-button>
      </div>
      <b-row>
        <b-col>
          <b-row>
            <b-col sm="3">
              <label>Error msg: </label>
            </b-col>
            <b-col sm="9">
              <b-input v-model="error_msg"></b-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="3">
              <label>Return msg: </label>
            </b-col>
            <b-col sm="9">
              <b-input v-model="status_string"></b-input>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
   </div>
   <div class="card mt-4" fluid>
      <div class="card-header">
        LpGBT ({{master_addr}}: master) <b-button :disabled="configuring" @click="startFeTestOnly()" variant="outline-primary">Test</b-button>
        <b-spinner small v-if="configuring"></b-spinner>
      </div> 
      <b-row align-h="around">
        <b-col sm="1">
	  <b-button :disabled="configuring" @click="launchSingle('get_slaves_addr')" variant="outline-primary">Launch</b-button>
        </b-col>
        <b-col sm="2">
          LpGBTs
        </b-col>
        <b-col sm="2" v-for="(value,key) in lpgbts_result" :key="key" :class="address_class(key)">
          {{key}}
        </b-col>
      </b-row>
      <b-row align-h="around">
        <b-col sm="1">
          <b-button :disabled="need_lpgbts_list" @click="launchSingle('configCheck')" variant="outline-primary">Launch</b-button>
        </b-col>
        <b-col sm="2">
          Configure and Check
        </b-col>
        <b-col sm="2" v-for="(value, key) in lpgbts_result" :key="key" :class="configcheck_class(value['configCheck'])">
          {{value['configCheck']}}
        </b-col>
      </b-row>
      <b-row align-h="around">
        <b-col sm="1">
          <b-button :disabled="configuring" @click="launchSingle('state')" variant="outline-primary">Test</b-button>
        </b-col>
        <b-col sm="2">
          State
        </b-col>
        <b-col sm="2" v-for="(value,key) in lpgbts_result" :key="key" :class="lpgbt_state_class(value['state'])">
          {{value['state']}}
        </b-col>
      </b-row>
      <b-row align-h="around">
        <b-col sm="1">
          <b-button :disabled="configuring" @click="launchSingle('chip_id')" variant="outline-primary">Test</b-button>
        </b-col>
        <b-col sm="2">
          Chip ID
        </b-col>
        <b-col sm="2" v-for="(value,key) in lpgbts_result" :key="key" :class="lpgbt_chip_class(value['chip_id'])">
          {{value['chip_id']}}
        </b-col>
      </b-row>
      <b-row align-h="around">
        <b-col sm="1">
          <b-button :disabled="configuring" @click="launchSingle('temperature')" variant="outline-primary">Test</b-button>
        </b-col>
        <b-col sm="2">
          Temp
        </b-col>
        <b-col sm="2" v-for="(value,key) in lpgbts_result" :key="key" :class="lpgbt_temp_class(value['temperature'])">
          {{value['temperature']}}
        </b-col>
      </b-row>
      <b-row align-h="around">
        <b-col sm="1">
          <b-button :disabled="configuring" @click="launchSingle('tclinkStatus')" variant="outline-primary">Test</b-button>
        </b-col>
        <b-col sm="2">
          TCLink
        </b-col>
        <b-col sm="2" v-for="(value,key) in lpgbts_result" :key="key" :class="tclink_status_class(key, value['tclinkStatus'])">
          {{value['tclinkStatus']}}
        </b-col>
      </b-row>
    </div>
    <div class="card mt-4" fluid>
      <div class="card-header">
        SCA Chip <b-button :disabled="configuring" @click="launchSingle('scaStatus')" variant="outline-primary">Test</b-button>
        <b-spinner small v-if="configuring"></b-spinner>
      </div>
      <b-row align-h="around">
        <b-col sm="1">
        </b-col>
        <b-col sm="2">
          Temperature
        </b-col>
        <b-col>
          {{sca_temp}}
        </b-col>
      </b-row>
      <b-row align-h="around">
        <b-col sm="1">
        </b-col>
        <b-col sm="2">
          ADCs values
        </b-col>
        <b-col>
          {{sca_adcs}}
        </b-col>
      </b-row>
    </div>
    <div class="card mt-4" fluid>
      <div class="card-header">
        Tower channels
        <b-spinner small v-if="configuring"></b-spinner>
      </div>
      <b-row align-h="around">
        <b-col sm="6">
          <div class="card mt-4" fluid>
            <div class="card-header">
              Bit shift <b-button :disabled="configuring" @click="launchSingle('align')" variant="outline-primary">Test</b-button>
              <b-spinner small v-if="configuring"></b-spinner>
            </div>
            <div v-if="(Object.keys(channels_result).length == 25) && 'align' in channels_result[0]"">
              <b-row align-h="around" v-for="i in 5" :key="i">
                <b-col/>
                <b-col v-for="j in 5" :key="i*5+j" :class="align_class(channels_result[(i-1)*5+(j-1)]['align'])">
                  {{channels_result[(i-1)*5+(j-1)]['align']}}
                </b-col>
                <b-col/>
              </b-row>
            </div>
          </div>
        </b-col>
        <b-col sm="6">
          <div class="card mt-4" fluid>
            <div class="card-header">
              VFE devices check <b-button :disabled="configuring" @click="launchSingle('vfedev')" variant="outline-primary">Test</b-button>
              <b-spinner small v-if="configuring"></b-spinner>
              <a @click="showModal('info-modal')"><icon name="question-circle" class="text-secondary"/></a>
            </div>
            <div v-if="(Object.keys(channels_result).length == 25) && 'vfedev' in channels_result[0]"">
              <b-row align-h="around" v-for="i in 5" :key="i">
                <b-col/>
                <b-col v-for="j in 5" :key="i*5+j" :class="device_found_class(channels_result[(i-1)*5+(j-1)]['vfedev'])">
                  {{channels_result[(i-1)*5+(j-1)]['vfedev']}}
                </b-col>
                <b-col/>
              </b-row>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-row align-h="around">
        <b-col sm="6">
          <div class="card mt-4" fluid>
            <div class="card-header">
              HG Pedestals <b-button :disabled="configuring" @click="launchSingle('pedestal')" variant="outline-primary">Test</b-button>
              <b-spinner small v-if="configuring"></b-spinner>
            </div>
            <div v-if="(Object.keys(channels_result).length == 25) && 'pedestal' in channels_result[0]">
              <b-row align-h="around" v-for="i in 5" :key="i">
                <b-col/>
                <b-col v-for="j in 5" :key="i*5+j" :class="pedestal_class(channels_result[(i-1)*5+(j-1)]['pedestal'][0])">
                  {{channels_result[(i-1)*5+(j-1)]['pedestal'][0]}}
                </b-col>
                <b-col/>
              </b-row>
            </div>
          </div>
        </b-col>
        <b-col sm="6">
          <div class="card mt-4" fluid>
            <div class="card-header">
              LG Pedestals <b-button :disabled="configuring" @click="launchSingle('pedestal')" variant="outline-primary">Test</b-button>
              <b-spinner small v-if="configuring"></b-spinner>
            </div>
            <div v-if="(Object.keys(channels_result).length == 25) && 'pedestal' in channels_result[0]">
              <b-row align-h="around" v-for="i in 5" :key="i">
                <b-col/>
                <b-col v-for="j in 5" :key="i*5+j" :class="pedestal_class(channels_result[(i-1)*5+(j-1)]['pedestal'][1])">
                  {{channels_result[(i-1)*5+(j-1)]['pedestal'][1]}}
                </b-col>
                <b-col/>
              </b-row>
            </div>
          </div>
        </b-col>
      </b-row>
    </div>

    <b-modal ref="info-modal" hide-footer hide-header-close title="Info">
      <div class="card-body mt-4" variant="warning">
        b'xxxx': [CATIA, DTU, ADC1, ADC0], 1: found, 0: not found
        Examples:
        <ul>
          <li>15: all devices found</li>
          <li>14: ADC0 not found</li>
          <li>...</li>
        </ul>
      </div>
    </b-modal>
  </b-container>
</template>


<script>
import axios from "axios";
import lpgbt_lib from '@/plugins/lpgbt_functions.js'

export default {
  name: 'FeAutoTest',
  data: function () {
    return {
      error_msg: "None",
      configuring: false,
      status_string: "None",
      lpgbts_result: {},
      channels_result: {},
      master_addr: "None",
      expected_lpgbt_addrs: [113,114,115,116],
      lpgbt_list: [],
      need_lpgbts_list: true,
      expected_tclink_states: ["TRx-Lock","Rx-Lock","Rx-Lock","Rx-Lock"],
      sca_temp: 0,
      sca_adcs: []
    };
  },

  mounted: function () {
    // this.getAdcStringList()
    axios
        .get(`/api/connection`)
        .then((response) => {
          if (response.data.status == "failed") {
            if (response.data.result.code == -1) {
              this.errorMessage =
                "Asynchronous command is running .. please retry later";
            } else if (response.data.result.code == -2) {
              this.errorMessage = response.data.result.message;
            } else if (response.data.result.code == -3) {
              this.errorMessage = "Internal error: please retry";
            }

            this.$refs["axios-error-modal"].show();
          } else {
            this.master_addr = response.data.result.chip_addr;
          }
        })
  },

  methods: {

    showModal(modal_ref) {
        this.$refs[modal_ref].show()
    },

    async startFullTest() {
      this.configuring = true;
      try {
        this.fillLpgbtStatus('configCheck', await lpgbt_lib.configure_all_lpgbts())
        this.fillLpgbtStatus('state', await lpgbt_lib.check_existence_lpgbts())
        this.fillLpgbtStatus('chip_id', await lpgbt_lib.get_chips_id())
        this.fillLpgbtStatus('temperature', await lpgbt_lib.get_lpgbts_temperature())
        this.fillLpgbtStatus('tclinkStatus', await lpgbt_lib.get_tclink_status())
        this.fillScaStatus(await lpgbt_lib.get_sca_status())
        this.fillChannelStatus('align', await lpgbt_lib.align_BCP_sync_mode())
        this.fillChannelStatus('vfedev', await lpgbt_lib.find_VFE_devices())
        //this.fillChannelStatus('pedestal', await lpgbt_lib.optimize_pedestals(true))
      } catch(error) {
        console.error(error)
        this.error_msg = error
      }
      this.configuring = false;
      console.log('End of startFullTest')
    },

    async startFeTestOnly() {
      this.configuring = true;
      try {
        this.fillLpgbtStatus('configCheck', await lpgbt_lib.configure_all_lpgbts())
        this.fillLpgbtStatus('state', await lpgbt_lib.check_existence_lpgbts())
        this.fillLpgbtStatus('chip_id', await lpgbt_lib.get_chips_id())
        this.fillLpgbtStatus('temperature', await lpgbt_lib.get_lpgbts_temperature())
        this.fillLpgbtStatus('tclinkStatus', await lpgbt_lib.get_tclink_status())
      } catch(error) {
        console.error(error)
        this.error_msg = error
      }
      this.configuring = false;
      console.log('End of startFullTest')
    },

    async launchSingle(label) {
      this.configuring = true;
      try {
      	if (label === 'get_slaves_addr') this.fillLpgbtStatus('get_slaves_addr', await lpgbt_lib.get_slaves_addr(this.master_addr))
        if (label === 'configCheck') this.fillLpgbtStatus('configCheck', await lpgbt_lib.configure_all_lpgbts(this.lpgbt_list)) 
        if (label === 'state') this.fillLpgbtStatus('state', await lpgbt_lib.check_existence_lpgbts())
        if (label === 'chip_id') this.fillLpgbtStatus('chip_id', await lpgbt_lib.get_chips_id())
        if (label === 'temperature') this.fillLpgbtStatus('temperature', await lpgbt_lib.get_lpgbts_temperature())
        if (label === 'tclinkStatus') this.fillLpgbtStatus('tclinkStatus', await lpgbt_lib.get_tclink_status())
        if (label === 'align') this.fillChannelStatus('align', await lpgbt_lib.align_BCP_sync_mode())
        if (label === 'vfedev') this.fillChannelStatus('vfedev', await lpgbt_lib.find_VFE_devices())
        if (label === 'pedestal') this.fillChannelStatus('pedestal', await lpgbt_lib.optimize_pedestals(true))
        if (label === 'scaStatus') this.fillScaStatus(await lpgbt_lib.get_sca_status())
      } catch(error) {
        console.error(error)
        this.error_msg = error
      }
      this.configuring = false;
    },

    launchSWTrigger() {
      axios.get('/api/launch_SW_trigger').then((response) => {
        if (response.data.error !== "") {
          this.error_msg = response.data.error  
        } else {
          this.status_string = response.data.status
        }
      })
    },

    address_class(value) {
      if (value === undefined) return "bg-danger"
      if (this.expected_lpgbt_addrs.includes(parseInt(value))) {
        return "bg-info"
      }
      return "bg-danger"
    },
    
    configcheck_class(value) {
      if (value === undefined) return "bg-danger"
      if (value === true) {
        return "bg-success"
      }
      return "bg-danger"
    },

    lpgbt_state_class(value) {
      if (value === undefined) return "bg-danger"
      if (value === "READY") {
        return "bg-info"
      }
      return "bg-danger"
    },

    lpgbt_chip_class(value) {
      if (value === undefined) return "bg-danger"
      if (!["0", ""].includes(value)) {
        return "bg-info"
      }
      return "bg-danger"
    },

    lpgbt_temp_class(value) {
      if (value === undefined) return "bg-danger"
      if (value < 60 ) {
        return "bg-info"
      } else if (value => 60 && value < 80 ) {
        return "bg-warning"
      }
      return "bg-danger"
    },

    tclink_status_class(add, value) {
      if (value === undefined) return "bg-danger"
      const index =  this.expected_lpgbt_addrs.indexOf(parseInt(add))
      if (index => 0) {
        if (this.expected_tclink_states[index] === value) {
          return "bg-info"
        }
      }
      return "bg-danger"
    },

    device_found_class(value) {
      if (value === undefined) return "bg-danger"
      if (value === 15) {
       return "bg-info"
      }
      return "bg-danger"
    },

    align_class(value) {
      if (value === undefined) return "bg-danger"
      if (value === 0) {
       return "bg-warning"
      }
      return "bg-info"
    },

    pedestal_class(value) {
      if (value === undefined) return "bg-danger"
      if (value > 20) {
       return "bg-warning"
      }
      return "bg-info"
    },

    fillLpgbtStatus(label, status) {
      this.status_string = ""
      console.log(label, status)
      for (const [key, value] of Object.entries(status)) {
        this.status_string += key + ": " + value + ", "
        if (! this.lpgbts_result.hasOwnProperty(key)) this.lpgbts_result[key] = {}
        this.lpgbts_result[key][label] = value
		if (label=='get_slaves_addr') this.lpgbt_list.push(key)
		if (label=='get_slaves_addr') this.need_lpgbts_list = false
		console.log(this.lpgbts_result)
		console.log(this.status_string)
      }
    },

    fillChannelStatus(label, status) {
      this.status_string = ""
      for (const [key, value] of Object.entries(status)) {
        this.status_string += key + ": " + value + ", "
        if (! this.channels_result.hasOwnProperty(key)) this.channels_result[key] = {}
        this.channels_result[key][label] = value
      }
    },

    fillScaStatus(status) {
      console.log(status)
      this.sca_temp = status["temperature"]
      this.sca_adcs = status["ADCs"]
    }
  }
};
</script>

<style lang="scss"></style>
