<template>
  <div class="femenu">
    <div  class="p-1">
        <b-input-group prepend="FE Device addresses">
            <b-form-select v-model="fe_device_address" :options="fe_device_address_list" />
        </b-input-group>
    </div>
  </div>
</template>

<script>
const API_URL = '/api'
import axios from 'axios'


export default {
  name: 'femenu',
  data: function () {
    return {
      ttAddressMap: {},
      fe_device_address_list: [],
      fe_device_address: '',
      errorMessage: ''
    }
  },

  watch: {
    fe_device_address: function (newValue, oldValue) {
        this.$emit('value-changed', newValue);
    }
  },

  created: function () {
      this.getTtAddressMap()
      this.getFeDeviceAddressList()
  },

  methods: {

    getTtAddressMap() {
	axios.get(`${API_URL}/getTtAddressMap`)
        .then((response) => {
	    if (response.data.status == 'failed') {
		this.handleError(response)
	    }

            else {
		this.ttAddressMap = response.data.result
	    }

	})
	.catch((error) => {
		console.error(error);
        }) 
    },

    getFeDeviceAddressList() {
        axios.get(`${API_URL}/getFeDeviceAddresses`)
            .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response);
                }

                else {
                    console.log(response)
                    this.fe_device_address_list = []
                    let regs = response.data.result;
                    for (var key in regs) {
                        let key_temp = (parseInt(key)).toString(16)
                        this.fe_device_address_list.push({ value: key_temp, text:  this.ttAddressMap[key] + " " + key_temp})
                        for (var key2 in regs[key]) {
                            // build block for master i2c
                            if (key2 == 1 ) {
                                for (var key3 in regs[key][key2]) {
                                    let key3_temp = (parseInt(key3)).toString(16)
                                    this.fe_device_address_list.push({
                                        text: this.ttAddressMap[key] + " " + key_temp+' > Master I2C #1 > VTRx',
                                        value: key3_temp
                                    })
                                }
                            }
                            if (key2 == 2) {
                                for (var key3 in regs[key][key2]) {
                                    let key3_temp = (parseInt(key3)).toString(16)
                                    this.fe_device_address_list.push({
                                        text: this.ttAddressMap[key] + " " + key_temp + " > Master I2C #2 > "+ this.ttAddressMap[key3] + " " + key3_temp,
                                        value: key3_temp
                                    })
                                }

                            }
                        }
                    }
                }
        }).catch((error) => {
          console.error(error);
        });
    },

    handleError(response) {
        if (response.data.result.code == -1){
            this.errorMessage = 'Asynchronous command is running .. please retry later';
        }
        else if (response.data.result.code == -2){
            this.errorMessage = response.data.result.message;
        }
        else if (response.data.result.code == -3){
            this.errorMessage = 'Internal error: please retry';
        }

        //this.$refs['axios-error-modal'].show();
        this.$emit('show-error', this.errorMessage);
    }

  },

}

</script>

<style lang="scss">
</style>
