<template>
  <div class="feregmap">

  <div class="card mt-4">
    <div class="card-header">
      LpGBT Register Lara
    </div>
    <div class="card-body">

      <b-button-group >
        <b-button variant="outline-primary" @click='saveConfigOnFile()' v-b-popover.hover.top="'Save data to a file'"><icon name="file-import"/>Save</b-button>
        <b-button variant="outline-primary" @click="$refs.fileInput.click()" v-b-popover.hover.top="'Fetch data from a file'"><icon name="file-export"/>Load</b-button>
        <b-button variant="outline-primary" @click="getReadyState()" disabled><icon name="file-archive"/>Fusing</b-button>
        <input type="file" name="config"
                           :disabled="isSaving"
                           style="display:none;"
                           @input="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                           accept="*.cnf"
                           ref="fileInput"
                           class="input-file">
      </b-button-group>
      <div v-html="downloadLink" style="text-align: center; margin-top:16px"></div>
      <div v-if="writing_file"><b-spinner variant="primary"></b-spinner></div>
      <div v-if="loading_file"><b-spinner variant="primary"></b-spinner></div>

      <b-alert :show="dismissCountDown" dismissible
                           variant="success"
                           @dismissed="dismissCountDown=0"
                           @dismiss-count-down="countDownChanged">
                           Burning finished
      </b-alert>

      <femenu @value-changed="valueChanged" @show-error="showError"/>
      <!--div  class="p-1">
        <b-input-group prepend="VFE Device addresses">
            <b-form-select v-model="vfe_device_address" :options="vfe_device_address_list" />
        </b-input-group>
      </div-->
    </div>
  </div>

    <b-modal id="force-ready-modal" ref="force-ready-modal" title="E-Fuses programming" @ok="forceReadyState()" ok-variant="warning">
      <b-alert show variant="warning">
        <div  class="p-1 text-center">The lpGBT has to be on Ready state to be fused. Your lpGBT is not currently on Ready state. Are you sure you want to fuse this configuration? If yes, we will force the Ready state.</div>
       </b-alert>
     </b-modal>

     <b-modal id="fusing-status-modal" ref="fusing-status-modal" hide-footer title="E-Fuses programming status">
       <div style="text-align: center;"> Start burning fuses. Checking fused bank ... </div>
       <li v-for="item in fused_bank_status" style="display: flex;">{{ item }}</li>
       <div class="d-block text-center" @click="onFusesBank()"><b-button variant="warning">Continue</b-button></div>
     </b-modal>

  <div class="card mt-4">
    <div class="card-header">
      Register Map
      <a href="/doc/model.html" target="_blank"><icon name="question-circle" class="text-secondary"/></a>
    </div>
    <div class="card-body">
    <small>
      <div  class="p-1">
       <b-input-group prepend="Filter">
         <b-form-input v-model="filter" placeholder="Type to Search" />
         <b-input-group-append>
           <b-btn :disabled="!filter" variant="outline-primary" @click="filter = ''">Clear</b-btn>
           <b-btn variant="outline-primary" @click="showAllRegs = !showAllRegs">Show/Hide Zeros</b-btn>
         </b-input-group-append>
       </b-input-group>
       </div>

       <div v-if="loading_config">Loading... <b-spinner variant="primary"></b-spinner></div>

       <div  class="p-1">
         <b-table striped hover variant="primary" :filter="filter" :items="regs" @row-clicked="regClickHandler">
         <template slot="adr" slot-scope="data">
             {{data.value}}
         </template>
         <template slot="name" slot-scope="data">
             {{data.value}}
         </template>

         <template slot="val" slot-scope="data">
             {{data.value}}
         </template>
         </b-table>
       </div>
     </small>
   </div>
  </div>

  <!-- Modal Component -->
  <b-modal ref="modal" id="modal" hide-header-close title="Update Register Value"  @ok="handleOk">
    <div class="mx-auto p-1" style="text-align:center"><b-button class="bg-primary" style="width: 300px;" disabled>Register name : {{selected_row.Name}}</b-button></div>
    <div class="mx-auto p-1" style="text-align:center"><b-button class="bg-primary" style="width: 300px;" disabled>Address : {{selected_row.Address}}</b-button></div>
    <div class="mx-auto p-1" style="text-align:center"><b-button class="bg-primary" style="width: 300px;" disabled>Value : {{selected_row.Value}}</b-button></div>
   <form @submit.stop.prevent="handleOk">
      <div  class="mx-auto p-1">
        <b-form-input type="text" placeholder="Enter new register value : 0x00" v-model="newval"></b-form-input>
      </div>
    </form>
  </b-modal>

    <b-modal ref="axios-error-modal" hide-footer hide-header-close title="Request error">
       <div class="card-body mt-4" variant="warning">
        {{errorMessage}}
       </div>
    </b-modal>

  </div>

</template>

<script>
import axios from 'axios'
import femenu from './FeMenu'

const API_URL = '/api'
const API_URL_LOAD = '/api/regs/load'
const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;


export default {
  components: {'femenu': femenu},
  data: function () {
    return {
      errorMessage: '',
      regs: [],
      all_regs: [],
      non_zero_regs: [],
      newval: '',
      downloadLink: '',
      file_load: null,
      link_save:`${API_URL}/regs/save`,
      link_load:`${API_URL}/regs/load`,
      selected_row: {},
      upload_status:null,
      uploadedFiles: [],
      uploadError: null,
      filter: null,
      writing_file   : false,
      loading_file   : false,
      loading_config : false,
      fused_bank_status : [],
      ready_state       : '',
      dismissSecs: 5,
      dismissCountDown: 0,
      fe_device_address: '',
      vfe_device_address_list: [],
      vfe_device_address: '',
      ttAddressMap: {},
      showAllRegs: false
    }
  },


  created: function () {
    //this.createTtAddressMap()
    this.getTtAddressMap();
  },

  computed: {
      isInitial() {
        return this.upload_status === STATUS_INITIAL;
      },
      isSaving() {
        return this.upload_status === STATUS_SAVING;
      },
      isSuccess() {
        return this.upload_status === STATUS_SUCCESS;
      },
      isFailed() {
        return this.upload_status === STATUS_FAILED;
      }
  },

  watch: {
    showAllRegs: function (newValue) {
        this.regs.length = 0;
        console.log(newValue)
        if (newValue) {
            this.regs = [...this.all_regs];
        } else {
            this.regs = [...this.non_zero_regs];
        }
    }
  },

  methods: {

    getTtAddressMap() {
        axios.get(`${API_URL}/getTtAddressMap`)
        .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response)
                }

                else {
                  this.ttAddressMap    = response.data.result;
                }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

    valueChanged(newValue) {
        this.fe_device_address = newValue
        newValue = parseInt(newValue,16)
        if (this.ttAddressMap[newValue].includes("Master")) {
            this.getMasterRegisters()
        } else if (this.ttAddressMap[newValue].includes("Slave")) {
            this.getSlaveRegisters(newValue)
        }
    },

    showError(newError) {
        this.errorMessage = newError;
        this.$refs['axios-error-modal'].show();
    },

    saveConfigOnFile(){
        this.writing_file = true
        let deviceValue = parseInt(this.fe_device_address, 16)
        if (this.ttAddressMap[deviceValue].includes("Slave")){
            console.log('Asking slave registers')
            const formData = new FormData();
            formData.append('slaveAddress', deviceValue)
            formData.append('i2cm', 2)

            axios.post(`${API_URL}/regs/saveSlave`,formData)
            .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response)
                } else {
                    this.downloadLink = 'Download : <a href="'+'/api/regs/download/'+response.data.result.filename+'">'+response.data.result.filename+'</a>'
                    this.writing_file = false
                }
            }).catch((error) => {
                // eslint-disable-next-line
                console.error(error);
            });
        } else {
            console.log('Asking master registers')
            axios.get(`${API_URL}/regs/save`)
            .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response)
                } else {
                    this.downloadLink = 'Download : <a href="'+'/api/regs/download/'+response.data.result.filename+'">'+response.data.result.filename+'</a>'
                    this.writing_file = false
                }
            }).catch((error) => {
                // eslint-disable-next-line
                console.error(error);
            });
        }
        
    },

    loadConfigFromFile(formData) {
    //  this.testVal = this.selected_row.adr
        this.loading_file = true
        this.upload_status = STATUS_SAVING;
        let deviceValue = parseInt(this.fe_device_address, 16)
        let requestPath = ""
        let requestData = formData

        if (this.ttAddressMap[deviceValue].includes("Master")){
            requestPath = `${API_URL_LOAD}`
        } else if (this.ttAddressMap[deviceValue].includes("Slave")){
            requestPath = '/api/regs/loadSlave'
            formData.append('slaveAddress', deviceValue)
        }
        if (requestPath != "") {
            axios.post(requestPath,formData)
            .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response);
                }

                else {
                    this.upload_status = STATUS_SUCCESS;
                    if (this.ttAddressMap[deviceValue].includes("Master")){
                        this.getMasterRegisters()
                    } else if (this.ttAddressMap[deviceValue].includes("Slave")){
                        this.getSlaveRegisters(deviceValue)
                    }
                    this.loading_file = false
                }

            })
            .catch((error) => {
                this.uploadError = error.response;
                this.upload_status = STATUS_FAILED;
                console.error(error);
            });
        }
    },

    getMasterRegisters() {
      this.loading_config = true
      axios.get(`${API_URL}/regs`)
        .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response);
                }

                else {
                    // Clear all arrays first
                    this.all_regs.length = 0;
                    this.non_zero_regs.length = 0;
                    this.regs = 0;
                    this.showAllRegs = false;
                    // Load arrays
                    this.all_regs = response.data.result;
                    this.non_zero_regs = this.all_regs.filter(obj => obj.Value !== '0x00');
                    this.regs = [...this.non_zero_regs];
                    this.upload_reset();
                    this.loading_config = false;
                }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

    getSlaveRegisters (deviceAddress) {
            this.loading_config = true // turn on the loading icon
            var bodyFormData = new FormData()
            bodyFormData.append('device_add',deviceAddress)
            axios.post(`${API_URL}/getSlaveDeviceRegs`, bodyFormData)
            .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response);
                }

                else {
                    // Clear all arrays first 
                    this.all_regs.length = 0; 
                    this.non_zero_regs.length = 0;
                    this.regs = 0;
                    this.showAllRegs = false;
                    // Load arrays
                    this.all_regs = response.data.result
                    this.non_zero_regs = this.all_regs.filter(obj => obj.Value !== '0x00');
                    this.regs = [...this.non_zero_regs];
                    this.upload_reset();
                    this.loading_config = false;
                }
            }).then( () => {
                console.log(deviceAddress)
                if (this.ttAddressMap[deviceAddress].includes("Slave")) {
                    console.log('Slave lpGBT chosen')
                }
            }).catch((error) => {
                // eslint-disable-next-line
                console.error(error);
            });
    },

    regClickHandler (record, index) {
      this.selected_row = record
      this.$refs.modal.show()
    },

    handleOk (evt) {
      // Prevent modal from closing
      evt.preventDefault()
      this.handleSubmit()
    },
    
    handleSubmit() {

        let requestPath = ""
        let requestObj = {}
        let deviceValue = parseInt(this.fe_device_address, 16)
        if (this.ttAddressMap[deviceValue].includes("Master")){
            requestPath = `${API_URL}/write`
            requestObj = {
                newval          : this.newval,
                address         : this.selected_row.Address,
            }
        } else if (this.ttAddressMap[deviceValue].includes("Slave")){
            requestPath = `${API_URL}/writeI2cMaster`
            requestObj = {
                    write_data          : this.newval,
                    reg_address         : this.selected_row.Address,
                    i2cm                : 2,
                    slave_address       : this.fe_device_address,
                    reg_address_width   : 2,
                    speed               : 0
                }
        }
        if (requestPath != "") {
            axios.put(requestPath, requestObj)
            .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response);
                } else {
                    this.$refs['modal'].hide();
                    console.log("before get registers ", deviceValue)
                    if (this.ttAddressMap[deviceValue].includes("Master")){
                        this.getMasterRegisters()
                    } else if (this.ttAddressMap[deviceValue].includes("Slave")) {
                        this.getSlaveRegisters(parseInt(this.fe_device_address,16));
                    }
                }
            }).catch((error) => {
                console.log(error);
            });
 	    }
	},

    filesChange(fieldName, fileList) {
        // handle file changes
        const formData = new FormData();

        if (!fileList.length) return;

        // append the files to FormData
        Array
          .from(Array(fileList.length).keys())
          .map(x => {
            formData.append(fieldName, fileList[x], fileList[x].name);
          });

        // save it
        this.loadConfigFromFile(formData);
      },

    getReadyState() { 
      axios.get(`${API_URL}/getReadyState`)
        .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response);
                }
                else {
                   this.ready_state        = response.data.result.ready_state;

                   if(this.ready_state == 0) { 
                       this.$refs['force-ready-modal'].show();
                   }
                   else {
                       this.fusesStatus();
                   }
                }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    fusesStatus() {
      axios.get(`${API_URL}/burnBankStatus`)
        .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response);
                }
                else {
                   this.fused_bank_status  = response.data.result.fused_bank_status;

                   this.$refs['fusing-status-modal'].show();
                }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    onFusesBank() {
      axios.get(`${API_URL}/fusesBurnBank`)
        .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response);
                }
                else {
                    this.showFusingAlert();
                    this.$refs['fusing-status-modal'].hide();
                }
                
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    forceReadyState() {
      axios.get(`${API_URL}/jumptostate`)
        .then((response) => {
            if (response.data.status == 'failed') {
                this.handleError(response)
            } else {
                this.ready_state  = response.data.result.ready_state;
                if(this.ready_state == 1) {
                    this.fusesStatus();
                }
            }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    upload_reset() {
        // reset form to initial state
        this.upload_status = STATUS_INITIAL;
        this.uploadedFiles = [];
        this.uploadError = null;
    },

    countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
    },

    showFusingAlert() {
        this.dismissCountDown = this.dismissSecs
    },

    handleError(response) {
        if (response.data.result.code == -1){ 
            this.errorMessage = 'Asynchronous command is running .. please retry later';
        }
        else if (response.data.result.code == -2){
            this.errorMessage = response.data.result.message;
        }
        else if (response.data.result.code == -3){
            this.errorMessage = 'Internal error: please retry';
        }

        this.$refs['axios-error-modal'].show();
    }
  },

  mounted() {
    this.upload_reset();
  },

}
</script>

<style lang="scss">
</style>




