<template>
  <div class="fetempss">
    <div class="card mt-4">
      <div class="card-header">FE Temps</div>
      <div class="card-body">
        <div class="p-1">
          <b-input-group prepend="Master Lpgbt" append="°C">
            <b-form-input v-model="mlpgbt_temp"></b-form-input>
          </b-input-group>
          <b-input-group :prepend="'Slpgbt '+key" v-for="key in Object.keys(slpgbt_temps)" :key="key"  append="°C">
            <b-form-input :value="slpgbt_temps[key]"></b-form-input>
          </b-input-group>
        </div>
      </div>
    </div>

    <b-modal
      ref="axios-error-modal"
      hide-footer
      hide-header-close
      title="Request error"
    >
      <div class="card-body mt-4" variant="warning">
        {{ errorMessage }}
      </div>
    </b-modal>
  </div>
</template>

<script>
const API_URL = "/api";

import axios from "axios";

export default {
  name: "fetempss",
  data() {
    return {
      errorMessage: "",
      mlpgbt_temp: 0,
      slpgbt_temps: {},
      ttAddressMap: {}
    };
  },

  created: function () {
    this.getTempSensor();
    this.getSlaveTemp(); 
    //this.getStatus();
    //this.timer = setInterval(this.getStatus, 2000);
    //this.getPmStatus();
    //this.getChipVersion();
    //this.onGetWatchdog();
    
  },

  methods: {
    getTtAddressMap() {
      axios.get(`${API_URL}/getTtAddressMap`)
        .then((response) => {
                if (response.data.status == 'failed') {
                    this.handleError(response)
                }

                else {
                  console.log(response.data)
                  this.ttAddressMap    = response.data.result;
                }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },

    getTempSensor() {
      axios
        .get(`${API_URL}/internalSensorTemp`)
        .then((response) => {
          if (response.data.status == "failed") {
            this.handleError(response);
          } else {
            this.mlpgbt_temp = response.data.result.sensor_temp;
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },

    getSlaveTemp() {
      axios
        .get(`${API_URL}/internalSensorTempSlaves`)
        .then((response) => {
          if (response.data.status == "failed") {
            this.handleError(response);
          } else {
            this.slpgbt_temps = response.data.result.sensor_temp
            console.log(this.slpgbt_temps)
            console.log(Object.keys(this.slpgbt_temps))
          }
        })
    },

    handleError(response) {
        if (response.data.result.code == -1){
            this.errorMessage = 'Asynchronous command is running .. please retry later';
        }
        else if (response.data.result.code == -2){
            this.errorMessage = response.data.result.message;
        }
        else if (response.data.result.code == -3){
            this.errorMessage = 'Internal error: please retry';
        }

        this.$refs['axios-error-modal'].show();
    },
  }
};
</script>

<style>
.input-group-prepend {
  width: 50%;
}
.form-control {
  border: 1px solid #007bff;
  height: auto;
}
.btn-primary {
  margin-left: 10px;
}
</style>
