<b-nav-item  to="/feregmap"><icon name="map"/>FE Registers</b-nav-item><template>
  <div class="vferegmap">

  <div class="card mt-4">
    <div class="card-header">
      VFE Register Map
    </div>
  </div>

  <div  class="p-1">
    <b-input-group prepend="VFE Device IDs">
      <b-form-select v-model="vfe_device_id" :options="vfe_device_id_list""/>
      <b-button v-on:click="valueChanged" variant="outline-primary">Get Registers</b-button>
    </b-input-group>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      DTU Register Map
      <a href="/doc/model.html" target="_blank"><icon name="question-circle" class="text-secondary"/></a>
    </div>

    <b-form-checkbox id="allRegsCheckbox_dtu" v-model="allRegsSelected_dtu">Select all regs</b-form-checkbox>

    <div class="card-body">
      <small>
        <div v-if="loading_config_dtu">Loading... <b-spinner variant="primary"></b-spinner></div>
        <div  class="p-1">
          <b-table striped hover variant="primary" :fields="fields_dtu" :items="tableRegs_dtu">
          <template slot="adr" slot-scope="data">
              {{data.value}}
          </template>
          <template slot="name" slot-scope="data">
              {{data.value}}
          </template>

          <template slot="val" slot-scope="data">
              {{data.value}}
          </template>
          </b-table>
        </div>
      </small>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      CATIA Register Map 
      <a href="/doc/model.html" target="_blank"><icon name="question-circle" class="text-secondary"/></a>
    </div>

    <b-form-checkbox id="allRegsCheckbox_catia" v-model="allRegsSelected_catia">Select all regs</b-form-checkbox>

    <div class="card-body">
      <small>
        <div v-if="loading_config_catia">Loading... <b-spinner variant="primary"></b-spinner></div>
        <div  class="p-1">
          <b-table striped hover variant="primary" :fields="fields_catia" :items="tableRegs_catia">
          <template slot="adr" slot-scope="data">
              {{data.value}}
          </template>
          <template slot="name" slot-scope="data">
              {{data.value}}
          </template>

          <template slot="val" slot-scope="data">
              {{data.value}}
          </template>
          </b-table>
        </div>
      </small>
    </div>
  </div>

    <!-- Modal Component -->
    <b-modal ref="axios-error-modal" hide-footer hide-header-close title="Request error">
        <div class="card-body mt-4" variant="warning">
        {{errorMessage}}
        </div>
    </b-modal>

  </div>

</template>

<script>
import axios from 'axios'
import femenu from './FeMenu'

const API_URL = '/api'

export default {
  components: {'femenu': femenu},
  data: function () {
    return {
      errorMessage: '',
      fields_dtu: ["regAddress", "regName", "DTU_1", "DTU_2", "DTU_3", "DTU_4", "DTU_5"],
      fields_catia: ["regAddress", "regName", "CATIA_1", "CATIA_2", "CATIA_3", "CATIA_4", "CATIA_5"],
      tableRegs_dtu: [],
      tableRegs_catia: [],
      allRegs_dtu: [],
      allRegs_catia: [],
      nonZeroRegs_dtu: [],
      nonZeroRegs_catia: [],
      newval: '',
      fe_device_address: '',
      ttAddressMap: {},
      allRegsSelected_dtu: false,
      allRegsSelected_catia: false,
      loading_config_dtu: false,
      loading_config_catia: false,
      vfe_device_id: '',
      vfe_device_id_list: [1, 2, 3, 4, 5]
    }
  },

  watch: {
    allRegsSelected_dtu: function(val) {
      if (val) {
        this.tableRegs_dtu = this.allRegs_dtu;
      } else {
        this.tableRegs_dtu = this.nonZeroRegs_dtu;
      }
    },
    
    allRegsSelected_catia: function(val) {
      if (val) {
        this.tableRegs_catia = this.allRegs_catia;
      } else {
        this.tableRegs_catia = this.nonZeroRegs_catia;
      }
    }
  },

  methods: {

    showError(newError) {
        this.errorMessage = newError;
        this.$refs['axios-error-modal'].show();
    },

    valueChanged() {
        //this.fe_device_address = event.target.value
        //newValue = this.vfe_device_id
        console.log(this.vfe_device_id)
        console.log("IN VALUE CHANGED")
        //newValue = parseInt(newValue,16)
        this.getAllFeRegisters_consec(parseInt(this.vfe_device_id))
    },

    getAllFeRegisters_consec (vfeID) {
      this.loading_config_dtu = true // turn on the loading icon
      this.loading_config_catia = true
      var bodyFormData = new FormData()
      bodyFormData.append('vfe_num',vfeID)
      axios.post(`${API_URL}/getAllDTURegisters`,bodyFormData)
        .then((response) => {
            if (response.data.status == 'failed') {
                this.handleError(response);
            } else {
                this.allRegs_dtu = response.data.result
                this.tableRegs_dtu = response.data.result
                this.loading_config_dtu = false
                return axios.post(`${API_URL}/getAllCATIARegisters`,bodyFormData)
            }
        }).then((response) => {
            if (response.data.status == 'failed') {
                this.handleError(response);
            } else {
                this.allRegs_catia = response.data.result
                this.tableRegs_catia = response.data.result
                this.getNonZeroRegs()
            }
        }).catch((error) => {
            // eslint-disable-next-line
            this.loading_config_dtu = false
            this.loading_config_catia = false
            console.error(error);
        }).finally(() => {
            this.loading_config_catia = false
            if (this.allRegsSelected_dtu) {
                this.tableRegs_dtu = this.allRegs_dtu
            } else {
                this.tableRegs_dtu = this.nonZeroRegs_dtu
            }
            if (this.allRegsSelected_catia) {
                this.tableRegs_catia = this.allRegs_catia
            } else {
                this.tableRegs_catia = this.nonZeroRegs_catia
            }
        });

    },

    getNonZeroRegs() {
      this.nonZeroRegs_dtu.length = 0
      for (let i in this.allRegs_dtu) {
        if (this.allRegs_dtu[i]["DTU_1"] != "0x00" ||
          this.allRegs_dtu[i]["DTU_2"] != "0x00" ||
          this.allRegs_dtu[i]["DTU_3"] != "0x00" ||
          this.allRegs_dtu[i]["DTU_4"] != "0x00" ||
          this.allRegs_dtu[i]["DTU_5"] != "0x00") {
            this.nonZeroRegs_dtu.push(this.allRegs_dtu[i])
          }
      }
      for (let i in this.allRegs_catia) {
        this.nonZeroRegs_catia.length = 0
        if (this.allRegs_catia[i]["CATIA_1"] != "0x00" ||
          this.allRegs_catia[i]["CATIA_2"] != "0x00" ||
          this.allRegs_catia[i]["CATIA_3"] != "0x00" ||
          this.allRegs_catia[i]["CATIA_4"] != "0x00" ||
          this.allRegs_catia[i]["CATIA_5"] != "0x00") {
            this.nonZeroRegs_catia.push(this.allRegs_catia[i])
          }
      }
    },
    
    handleError(response) {
        if (response.data.result.code == -1){ 
            this.errorMessage = 'Asynchronous command is running .. please retry later';
        }
        else if (response.data.result.code == -2){
            this.errorMessage = response.data.result.message;
        }
        else if (response.data.result.code == -3){
            this.errorMessage = 'Internal error: please retry';
        }

        this.$refs['axios-error-modal'].show();
    }
  },

  mounted() {
    //this.getAllFeRegisters();
  },

}
</script>

<style lang="scss">
</style>
