<template>
  <div class="feregmap container">

  <div class="card mt-4">
    <div class="card-header">
      VTRx Address
    </div>
    <div class="card-body">

      <div  class="p-1">
        <b-button-group >
          <b-button variant="outline-primary" @click='searchVTRxAddress()' :disabled="doing_stuff">Search VTRx</b-button>
          <b-button variant="outline-primary" @click="getVTRxRegisters()" :disabled="doing_stuff">Read VTRx Registers</b-button>
        </b-button-group>
        <b-input-group prepend="VTRx Device address">
          <b-input v-model="vtrx_device_address"/>
          <div v-if="doing_stuff">Finding VTRX or reading registers... wait<b-spinner variant="primary"></b-spinner></div>
        </b-input-group>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      Register Map
    </div>
    <div class="card-body">
    <small>
      <div  class="p-1">
       <!--b-input-group prepend="Filter">
         <b-form-input v-model="filter" placeholder="Type to Search" />
         <b-input-group-append>
           <b-btn :disabled="!filter" variant="outline-primary" @click="filter = ''">Clear</b-btn>
           <b-btn variant="outline-primary" @click="showAllRegs = !showAllRegs">Show/Hide Zeros</b-btn>
           <b-btn variant="outline-primary" @click="valueChanged(fe_device_address)">Refresh Registers</b-btn>
         </b-input-group-append>
       </b-input-group-->
       </div>

       <div v-if="doing_stuff">Finding VTRX or reading registers... wait<b-spinner variant="primary"></b-spinner></div>

       <div  class="p-1">
         <b-table striped hover variant="primary" :items="regs" @row-clicked="regClickHandler">
         <template slot="adr" slot-scope="data">
             {{data.value}}
         </template>
         <template slot="name" slot-scope="data">
             {{data.value}}
         </template>

         <template slot="val" slot-scope="data">
             {{data.value}}
         </template>
         </b-table>
       </div>
     </small>
   </div>
  </div>

  <!-- Modal Component -->
  <b-modal ref="modal" id="modal" hide-header-close title="Update Register Value"  @ok="handleOk">
    <div class="mx-auto p-1" style="text-align:center"><b-button class="bg-primary" style="width: 300px;" disabled>Register name : {{selected_row.Name}}</b-button></div>
    <div class="mx-auto p-1" style="text-align:center"><b-button class="bg-primary" style="width: 300px;" disabled>Address : {{selected_row.Address}}</b-button></div>
    <div class="mx-auto p-1" style="text-align:center"><b-button class="bg-primary" style="width: 300px;" disabled>Value : {{selected_row.Value}}</b-button></div>
   <form @submit.stop.prevent="handleOk">
      <div  class="mx-auto p-1">
        <b-form-input type="text" placeholder="Enter new register value : 0x00" v-model="newval"></b-form-input>
      </div>
    </form>
  </b-modal>

  <b-modal ref="axios-error-modal" hide-footer hide-header-close title="Request error">
    <div class="card-body mt-4" variant="warning">
      {{errorMessage}}
    </div>
  </b-modal>

  </div>

</template>

<script>
import axios from 'axios'
import femenu from './FeMenu'

const API_URL = '/api'
const API_URL_LOAD = '/api/regs/load'
const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;


export default {
  components: {'femenu': femenu},
  data: function () {
    return {
      errorMessage: '',
      vtrx_device_address: 'N.A.',
      doing_stuff: false,
      doing_stuff: false,
      regs: [],
      newval: '',
      selected_row: {}
    }
  },

  methods: {

    regClickHandler (record, index) {
      this.selected_row = record
      this.$refs.modal.show()
    },

    handleOk (evt) {
      // Prevent modal from closing
      console.log('in handleOk')
      evt.preventDefault()
      this.handleSubmit()
    },
 
    handleSubmit() {
      let requestPath = `${API_URL}/writeVTRx`
      let requestObj = {
        write_data          : this.newval,
        reg_address         : this.selected_row.Address,
        vtrx_address        : parseInt(this.vtrx_device_address)
      }
      axios.put(requestPath, requestObj)
        .then((response) => {
          console.log(response.data.result)
        }).catch((error) => {
          console.log(error);
        }).finally(() =>{
          this.$refs.modal.hide()
          this.getVTRxRegisters()
        });
    },
 
    handleError(response) {
        if (response.data.result.code == -1){ 
            this.errorMessage = 'Asynchronous command is running .. please retry later';
        }
        else if (response.data.result.code == -2){
            this.errorMessage = response.data.result.result.message;
        }
        else if (response.data.result.code == -3){
            this.errorMessage = 'Internal error: please retry';
        }

        this.$refs['axios-error-modal'].show();
    },

    searchVTRxAddress() {
      this.doing_stuff = true;
      axios.get(`${API_URL}/getVTRxAddress`).then((response) => {
        console.log(response.data.result)
        if (response.data.result.error !== "") {
          console.log(response.data.result.error)
        } else {
          this.vtrx_device_address = response.data.result.status
        }
      }).finally(() => {
        this.doing_stuff = false;
      })
    },

    getVTRxRegisters() {
      this.doing_stuff = true;
      axios.get(`${API_URL}/getVTRxRegisters`).then((response) => {
        console.log(response.data.result)
        if (response.data.result.error !== "") {
          console.log(response.data.result.error)
        } else {
          this.regs.length = 0;
          for (let key in response.data.result.status) {
            this.regs.push({"Address": "0x"+Number(key).toString(16).toUpperCase(), "Name": response.data.result.status[key]["desc"], "Value": "0x"+response.data.result.status[key]["val"].toString(16).toUpperCase()})
          }
          console.log(this.regs)
        }
      }).finally(() => {
        this.doing_stuff = false;
      })
    }
  },

  mounted() {
    this.searchVTRxAddress()
  },

}
</script>

<style lang="scss">
</style>




